# go CLI
*.test
coverage.txt

# CGO
*.h
*.so

# Dep's guards against upstream overwrites
# https://golang.github.io/dep/docs/FAQ.html#should-i-commit-my-vendor-directory
vendor/

# IDE
.vscode/
debug

